<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/weather-icon.png">
        <link rel="stylesheet" href="./css/styles.css"> <!--relateive path-->
        <!--link rel="stylesheet" href="/css/stles.css"--> <!--absolute path-->
    </head>
    <body>
        <div class="main-content">
            {{>headers}}
            <h2>the message is {{message}}</h2>
        
        </div>
    
    {{>footer}}
    </body>
</html>